.home-left{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: left;
    
}
.p-tag {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #777;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.p-tag-2{
    color: #777;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.img-fluid {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}
.primary-btn {
    background: #fc8019;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}
.h1-tag{
    font-family: "Poppins",sans-serif;
    color: #fc8019;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
h5{
    font-family: "Poppins",sans-serif;
    color: #fc8019;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.banner{
    background: url(https://preview.colorlib.com/theme/marco/img/hero-bg.jpg.webp) center center/cover;
    background-size: cover;
    height: 767px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.banner-text{
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
.transparent-banner-over{
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.17);
    height: 767px !important;
}
.ABout-us-text{
    line-height: 10px;
    font-variant: small-caps;
  }
.modal-bg{
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.57);
}
.Admincard-bg{
    /* backdrop-filter: blur(16px) saturate(157%);
    -webkit-backdrop-filter: blur(16px) saturate(157%);
    background-color: rgba(0, 0, 0, 0.49); */
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.54);
    transition: transform .7s;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: aliceblue;
    box-shadow:4px 1px 10px #414141;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
  }
  .btn-outline-warning {
    --bs-btn-color: #fc8019;
  }