/* .bg-c {
  color:white;
  background-image: url("C:\project_college\React projects\culinary-delights\src\Components\Asserts\shutterstock_download.jpg");
} */
#basic-nav-dropdown::after{
  display: none !important; 
}
/* ---------------------------------------Background----------------------------------- */
.navi{
    margin-left: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem;
}
.navi1{
    padding-left: 2rem;
    padding-right: 2rem;
}
.transparent-Nav{
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #fc7f1931;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.nav-text{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-variant: small-caps;
    font-family: inherit;
}
.nav-text:hover{
    font-weight: 400;
    color: #fc8019;
}
.nav-brand{
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-variant: small-caps;
  font-family: inherit;
}
/* --------------------------------------------Nav-Bar-CSS------------------------------------- */
.a-div1{
  margin-top: 70px;
 color: white;
 backdrop-filter: blur(5px) saturate(105%);
 -webkit-backdrop-filter: blur(2px) saturate(105%);
 background-color: rgba(186, 77, 172, 0.05); 
 font-size: medium;
 letter-spacing: 2px;
}
/* -----------------------------------------------About us----------------------------------------- */
.recipe-card{ 
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: aliceblue;
    box-shadow:4px 1px 10px #414141;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.54);
}
.n-text{
     color: white;
    -webkit-text-stroke: 3px black;
    font-size:60px;
}

.Nutri-card {
     backdrop-filter: blur(5px) saturate(105%);
    -webkit-backdrop-filter: blur(2px) saturate(105%);
    background-color: rgba(186, 77, 172, 0.05); 

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.06);
  color: white;
  box-shadow:4px 1px 10px #414141;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.nutri-font{
  color: #ffffff;
    /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
    font-size:30px;
}

.n-head-text{
  color: #e1a16d;
  text-shadow:
    0 0 7px #fc8019,
    0 0 10px #fc8019,
    0 0 21px #fc8019,
    0 0 42px #fc8019,
    0 0 82px #fc8019,
    0 0 92px #fc8019,
    0 0 102px #fc8019;
    font-size:60px;
    font-family: 'Dancing Script', cursive;
}
.scroll{
  overflow-y: scroll;
}
::-webkit-scroll {
  background: black;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}
/* ----------------------------------------Nutri-CSS----------------------------------- */
.nutri-inp{
  color: #a5a3a3;
  background-color: #000000;
}
.nutri-inp:focus{
  box-shadow: none;
  background-color: #000000;
  color: #a5a3a3;
  border-color: black;
}
.form-container {
    width: 400px;
    background: linear-gradient(#000000, #000000) padding-box,
                linear-gradient(145deg, transparent 35%,#ee7752,#ee7752) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  .Contact-card{
    display: flex;
  }
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 80%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 80%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 50px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #ee7752;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #ee7752;
  }
  /* -------------------------------------------------Footer--------------------------------------------- */
  .card-bg{
    transition: transform .7s;
    background-color: black;
    width: 90%;
    border-radius: 12px;
    border-style: solid;
    border-color: #000000;
  }
  /* .card-bg:hover{
    transform: scale(1.08);
  } */
  .card-text{
    color: #777;
  }
  .card-title{
    color: #fc8019;
  }
  .site-hr 
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-hr
{
  margin:20px 0
}
.social-icons
{
  text-align:right
}
.social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

@media (max-width:767px)
{
  .copyright-text,.social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#fc8019;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#fc8019
}
.social-icons a.twitter:hover
{
  background-color:#fc8019
}
.social-icons a.linkedin:hover
{
  background-color:#fc8019
}
.social-icons a.dribbble:hover
{
  background-color:#fc8019
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  /* -----------------------------------------------------Home-Card-CSS------------------------------------- */
  .ig{
    border-radius: 10px;
  }
  .img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom .ig {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover .ig {
    transform: scale(1.5);
  }
  /* --------------------------------------------------------Home-Image-Curve-Corner---------------------------------- */
  .Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #000000;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: var(--af-white);
  }
  /* text */
  .in-text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .in-text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  /* ------------------------------------------------------------------------------------------------------------ */
  .baner{
    background: url("./Asserts/banner.jpg") center center/cover;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.baner-text{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(162, 162, 162);
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
  /* -------------------------------------------------------------go back------------------------------------------------ */
.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #fc8019;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconCon {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}
.icon {
  border-radius: 1px;
}
.text {
  margin-top: 15px;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 1em;
  font-weight: 600;
}

.CartBtn:hover .IconCon {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

/* .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* .card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
} */
/* ------------------------------------------------------------------------------------------------------------- */
/* ---Login-Page-css--- */
.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}
::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.span-l {
  margin-left: 50px;
  font-size: 14px;
  color: #fc8019;
  font-weight: 500;
  cursor: pointer;
}
.span{
text-decoration: none;
color: #fc8019;
cursor: grab;
}
.p {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}

.btn-l {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-l:hover {
  border: 1px solid #fc7f199d;
  ;
}
.mar{
  width: 80px;
  overflow-y: scroll;
} 
/* ---------------------------------------Loader-------------------------------- */
.dot-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  --uib-speed: 0.9s;
  height: 2.8rem;
  width: 2.8rem;
  /*animation: float 3s linear infinite;*/
}

@keyframes float {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: #fff;
  filter: drop-shadow(0 0 10px rgb(95, 150, 202));
  box-shadow: -6px -6px 11px #c1c1c1,
             6px 6px 11px #ffffff;
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
/* _----------------------------------rating----------------------------------------------_ */

/* -------------------------------Modal--------------------------------- */
.modal-content{
  backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.54);
}
.body-blur{
  backdrop-filter: blur(10px) saturate(180%);
}
/* --------------------------------remove-bootstrap-essence---------------------- */
.rem-border:focus{
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
border-color: black;
}
.rem-border:active {
  color: rgb(83, 77, 77);
  border-color: #ffffff;
}

element.style {
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .btn {
    position: relative;
    z-index: 2;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.card-btn {
    background-color: #fc8019;
    border: none;
    color: black;
}
.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #fc8019;
    --bs-btn-border-color: #fc8019;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fa801cd6;
    --bs-btn-hover-border-color: #fc8019;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #e07e2edf;
    --bs-btn-active-border-color: #edab75c8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #fc8019;
    --bs-btn-disabled-border-color: #fc8019;
}
.btn-outline-warning {
  --bs-btn-color: #fc8019;
  --bs-btn-border-color: #fc8019;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fc8019;
  --bs-btn-hover-border-color: #fc8019;
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fc8019;
  --bs-btn-active-border-color: #fc8019;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fc8019;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fc8019;
  --bs-gradient: none;
}
.rem-border:focus{
  color:rgb(83, 77, 77);
  border-color: #ffffff;
}
.form-check-input:checked {
  background-color: #fc8019;
  border-color: #fc8019;
}
.form-check-input:focus {
  border-color: #fc8019;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffffff42;
}
.dropdown-item:focus .dropdown-item:focus-visible .dropdown-item:focus-within{
  background-color: #fc7f1900;
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #2d231c00;
  box-shadow: 0 0 0 0.25rem #ffffff42;
}
.navbar-toggler {
  background-color: #fc7f1983;
}
/* --------------------------pill badge----------------------------------------- */
