@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400&display=swap');
body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  background-image: url("C:\project_college\React projects\culinary-delights\src\Components\Asserts\shutterstock_download.jpg");
}
code {
    font-family: 'Exo 2', sans-serif;
}
